@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  font-family: Inter, ui-sans-serif, system-ui;
}


@layer utilities {
  @keyframes flip {
    0%, 20%   { transform: translateY(0%); }
    25%, 45%  { transform: translateY(-100%); }
    50%, 70%  { transform: translateY(-200%); }
    75%, 95%  { transform: translateY(-300%); }
    100%      { transform: translateY(0%); }
  }

  .animate-flip {
    animation: flip 8s ease-in-out infinite;
  }
}